#
# Filename    : .gitignore
# Date        : 15 Nov 2021

# Description : gitignore to avoid temporary files from change
#               set and accidental commit, push to the repo
#               ref: https://git-scm.com/docs/gitignore


# *.js
aws/modules/s3web/lambda_function/*.zip
*.d.ts
*.output
*.log
node_modules
build/
output/
pipeline-status.sh

.idea/*
*DS_Store*
*-packaged.yaml
*-packaged.yml
.*.un*
.*.sw*
*bash.exe.stackdump
*.iml
*.pyc

# CDK asset staging directory
.cdk.staging
cdk.out/
cdk-local.sh

# Local .terraform directories
**/.terraform/*

**/.terraform.lock.hcl
# .tfstate files
*.tfstate
*.tfstate.*
*.lock.hcl

# Crash log files
crash.log

override.tf
override.tf.json
*_override.tf
*_override.tf.json
# example: *tfplan*
*.md
*.pyc
__MACOSX/

# Environments
.env
.venv
.venv_py/
env/
venv/
ENV/
env.bak/
venv.bak/
aws/modules/codepipeline/examples/codepipeline_dockerimages/*.zip
aws/modules/codepipeline/modules/codepipeline_dockerimages/python
